// colors

$color-orange-1: #ff7730;

$color-grey-light-1: #777;
$color-grey-light-2: #b7b7b7;

$color-grey-dark-1: #333;
$color-grey-dark-2: #1b262c;
$color-grey-dark-3: #2a2438;
$color-grey-dark-4: #352f44;
$color-grey-dark-5: #5c5470;

$color-mail-1: #ff0056;
$color-social-facebook: #3b5998;
$color-social-twitter: #55acee;
$color-social-insta: #fb3958;
$color-whatsapp: #128c7e;

$color-white: #fff;
$color-white-1: #dbd8e3;
$color-white-2: #dbd8e399;

$color-black: #000;

//////box-shadow

$shadow-light: 0 1.4rem 4rem rgba($color-black, 0.2);

// font

$default-font-size: 1.6rem;
