.other-services {
  padding: 8rem 0 12rem;
  background-color: rgba($color-white-1, 0.4);

  &__list {
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0 7rem;
    color: rgba($color-grey-dark-3, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      padding: 0 3rem;
      align-items: stretch;
      text-align: center;
    }
  }

  &__item {
    flex: 1;
    &:not(:last-of-type) {
      margin-bottom: 3.7rem;
    }

    &::before {
      content: "";
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      margin-right: 0.59rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;
    }
  }
}
